option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "server.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "server.wsgi:application"
container_commands:
  02_migrations:
    command: "python manage.py makemigrations"
    leader_only: true
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_start_celery_worker:
    command: "celery -A server.celery worker -l info"
