@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

#navbtn{
    clip-path: polygon(0% 0%, 75% 0%, 100% 51%, 75% 100%, 0% 100%);
}

.smenu{
    left: -800px;
}